<!DOCTYPE html>
<html  ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Test | Event Finder App</title>
    <!-- bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- end bootstrap -->
    <link rel="stylesheet" href="style.css">
    <style>
        * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
        }
        #map {
            width: 100%;
            height: 400px;
            background-color: grey;
        }

    </style>

  </head>

  <body>
    <div class="container" >
      <h1>Test | Event Finder App</h1>
      <input type="text" ng-model="">
      {{text}}

    <div id="googlestyle"> <!--googlemaps-->
      <h3>My Google Maps Demo</h3>
      <div id="map"></div>

    </div><br><!--end of googlemaps -->



    <div id="nameBox">
        <label>Event Name:</label>
        <input type="text" ng-model="yourName" placeholder="Enter a event here">
        <hr />
        <label>Location Address:</label>
        <input type="text" ng-model="yourLocation" placeholder="Enter location">
        <hr />
        <label>Zip Code:</label>
        <input type="number" ng-model="yourZip" placeholder="Enter zip">
        <hr />

        <h2>Type in a event {{ yourName }}</h2>
        <h2>Type in location {{ yourLocation }}</h2>
        <h2>Zip code: {{ yourZip }}</h2>
    </div><br>

        <div id="myDIV" class="header"><!--even list finder -->
            <input type="text" class="titleInput" placeholder="Title...">
            <span onclick="newElement()" class="addBtn">ADD</span>
        </div><br>

    <div id="eventlist">
        <ul id='myUL'>
            <li>Art Show</li>
            <li>Bull Ride</li>
            <li>Food Truck </li>
            <li>Travel Destination</li>
            <li>Game party </li>
            <li>Food/Market</li>
            <li>Yard sales'</li>
        </ul>
    </div><!--end of event list -->
<div ng-view></div>
    <script>
          function initMap () {
                var location = {lat: 29.424122, lng: -98.493628};
                var map = new google.maps.Map(document.getElementById("map"), {
                      zoom: 4,
                      center: location
                });
                var marker = new google.maps.Marker({
                      position: location,
                      map: map
                });
          }

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqHvoyWiV0-x4HgZUkjX9k19aaiwpapfs&callback=initMap"
    type="text/javascript"></script>
    <script src="node_modules\angular\angular.min.js"></script>
       <script src="js/app.js"></script>
       <script src="js/event.js"></script>
  </body>
</html>
